h3 {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
}

h2 {
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
}


/* Headings */

.bigheading {
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
    padding-top: 10%;
}

.testimonial-heading {
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
}

.container-fluid {
    padding: 3%;
}


/* Title */

#title {
    padding: 0 15% 7%;
    color: #fff;
    background-color: #fa5d75;
}


/* Features */

#features {
    background-color: #fff;
}


/* Navigation Bar*/

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 2.5rem;
    font-family: 'Island Moments', cursive;
}

.col-lg-6 {
    padding-top: 3.5rem;
}


/* Button-Download */

.download-btn {
    margin: 5% 3% 5% 0;
}


/* Title-Image*/

.title-image {
    width: 17%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Features */

#features {
    padding: 7rem 14rem;
    position: relative;
}

.features-box {
    text-align: center;
    padding: 5%;
}

.ft-img {
    color: #dd5035;
}

.ft-img:hover {
    color: #ff4c68;
}

.fas {
    padding-left: 2.5rem;
}

p {
    color: #8f8f8f;
}


/* Testimonials */

#testimonials {
    background-color: #f26a58;
    padding: 5rem 14rem;
    text-align: center;
    color: #fff;
}

.testimonial-img {
    border-radius: 100%;
    width: 20%;
    margin: 1.25rem;
}

#press {
    background-color: #f26a58;
    text-align: center;
    padding-bottom: 1%;
}

.press-logo {
    width: 15%;
    margin: 1rem 1.25rem 4.25rem;
}


/* Pricing */

#pricing {
    padding: 2rem 10rem;
    text-align: center;
}

.card-h {
    font-family: 'EB Garamond', serif;
}

.phead {
    color: rgb(243, 40, 57);
}

.pricing-col {
    padding: 2% 3%;
}


/* CTA */

#cta {
    text-align: center;
    background-color: #ff5d5ddc;
    ;
    padding: 4rem 8rem;
}

.ctahead {
    font-family: 'Montserrat', sans-serif;
}

.foot-btn {
    margin: 1% 3% 1% 0;
}

#footer {
    text-align: center;
    background-color: #fff;
    padding: 1rem 10rem;
}

.ficon {
    margin: 5px 5px 5px 0;
}


/* Media Queries */

@media (max-width:1000px) {
    #title {
        text-allign: center;
        padding: 1rem 3rem;
    }
    .title-image {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
    #features {
        padding: 1rem 1rem;
    }
    #testimonials {
        padding: 0 0;
    }
    #pricing {
        padding: 1rem 3rem;
    }
    #cta {
        padding: 3rem 2rem;
    }
    #footer {
        padding: 2rem 2rem 0 2rem;
    }
    h1 {
        padding-top: 0%;
    }
}